:root {
	--vlight-gray-blue: hsl(240, 78%, 98%);
	--light-gray-blue: hsl(234, 14%, 74%);
	--gray-blue: hsl(233, 13%, 49%);
	--dark-gray-blue: hsl(232, 13%, 33%);
	
	font-size: 15px;
	font-family: 'Montserrat', sans-serif	
}

html, body {
	height: 100%;
}

body {
	background-color: var(--vlight-gray-blue);
	background-image: url('images/bg-bottom.svg'), url('images/bg-top.svg');
	background-size: 30vw;
	background-position: left bottom, right top;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100vw;
	min-height: 100vh;
	margin: 0; 
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--gray-blue);
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.slider {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

/* Slider Background */
.toggle {
	appearance: none;
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.5rem;
	background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	border-radius: 15px;
	transition: all 900ms linear;
	margin: 1.5rem;
}

/* Toggle on the left - Annually */
.toggle:before {
	content: "";
	position: absolute;
	left: 0.125rem;
	top: 0.125rem;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	background-color: #FFF;
	transition: all 200ms ease-out;
}

/* Toggle on the right - Monthly */
.toggle:checked {
	background-image:  linear-gradient(to right, hsl(236, 72%, 89%), hsl(237, 63%, 84%));
}

.toggle:checked:before {
	background-color: #FFF;
	left: 1.625rem;   /* entire width - 0.125rem - width of ball */
	transition: all 200ms ease-out;
}

.left-label, .right-label {
	color: var(--light-gray-blue);
	display: flex;
	justify-content: center;
	align-items: center;
}

/*-- Price Card Layout --*/
.price-cards {
	display: grid;
	grid-template-columns: 25vw 2.5vw 20vw 2.5vw 25vw;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.basic {
	grid-area: 1 / 1 / 1 / span 2;
	background-color: #FFF;
	height: 25rem;
}

.professional {
	grid-area: 1 / 2 / 1 / span 3;
	background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	z-index: 10;
	height: 30rem;
}

.master {
	grid-area: 1 / 4 / 1 / span 2;
	background-color: #FFF;
	height: 25rem;
}

/*-- Individual Price Cards --*/
.price-cards section {
	border-radius: 10px;
	box-shadow: 5px 5px 30px hsla(234, 14%, 74%, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	min-width: 0;
	margin: 0;
	padding: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;

}

.container-basic {
	margin-right: 2.5rem;
	padding: 2rem;
	width: calc(100% - 6.5rem);
}

.container-prof {
	width: calc(100% - 4rem);
}

.container-master {
	margin-left: 2.5rem;
	padding: 2rem;
	width: calc(100% - 6.5rem);
}

.price-cards p {
	color: var(--gray-blue);
}

.professional p, .professional h2 {
	color: #FFF;
}


.price-cards h2 {
	font-size: 4rem;
	margin: 0;
}

.price-mon {
	display: none;
}

.feature {
	border-top: 1px solid var(--light-gray-blue);
	width: 100%;
	padding-top: 1rem;
}

.feature.last {
	padding-bottom: 1rem;
	border-bottom: 1px solid var(--light-gray-blue);
}

button {
	margin-top: 1rem;
	font-family: inherit;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	padding: 0.75rem;
	width: 100%;
	border-radius: 5px;
	border: 0px;
	background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

button:hover {
	cursor: pointer;
	background: none;
	color: hsl(237, 63%, 64%);
	border: 1px solid var(--dark-gray-blue);
}

button:active {
	background-color: var(--dark-gray-blue);
	color: #FFF;
	transition: all 200ms;
}

.white-button {
	background-color: #FFF;
	background-image: none;
	color: hsl(237, 63%, 64%);
}

.white-button:hover {
	color: #FFF;
	border: 1px solid #FFF;
}

@media only screen and (max-width: 1200px) {
	.price-cards h2 {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 900px) {
	.price-cards h2 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 700px) {
	.price-cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		width: 80%;
	}
	
	.price-cards section {
		height: 20rem;
		margin: 0.5rem;
		width: 100%;
	}
	
	[class*="container"] {
		margin: 0;
		padding: 1rem;
	}
	
	.price-cards h2 {
		font-size: 3rem;
	}
}
